// 35em = 560px when basefront is 16px //

@media only screen and (min-width: 35em) {
    

    .storyGrid {

        grid-template-columns: 1fr 1fr 1fr;

        span {
            font-size: 1rem;
        }
        
    }


    .parent {
        grid-template-columns: 1fr 1fr;
    }

}